body{
    padding: 0px;
    margin: 0px;
    border: 0px;


}

main{
    width: 20%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;

    border: solid 1px black;
}

#topo{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
}

#tela{
    width: 73%;
    height: 50px;
    margin-right: 20px;
    border: solid 1px black;
}

#borracha{
    width: 20%;
    height: 50px;
    border: solid 1px black;
}

#linha_um, #linha_dois, #linha_tres, #linha_quatro{
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
}
.itens{
    width: 20%;
    height: 70px;
    margin-right: 15px;
    
    border: solid 1px black;
}

#divisao, #multiplicacao, #subtracao, #adicao{
    width: 20%;
    height: 70px;
    margin-right: 0px;
}

p{
    width: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: auto;
    margin-top: 15px;

    /*border: solid 1px black;*/
}